{% extends 'base.html' %}

{% block main %}
<div class="container">
  <h1 class="page-header">Show Users</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-success">
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endwith %}

  <ul>
    {% for cliente in clientes %}
    <li>{{ cliente.nome }} : {{ cliente.cpf }} : {{ cliente.email }} : {{cliente.tipo}} : {{cliente.time_coracao}} </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
